<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Playlist Capsule</title>
  </head>
  <body>
  <div class = "container">
      <h1> Wave Capsules </h1>
      <p> Subscribe to a "capsule" where each day for a set amount of days,
          you will receive an email with a song recommendation that I wrote.
      <br><br>
        Unlike a traditional email newsletter, the song recommendations,
            are already encapsulated and are therefore not updated each day 
            like a normal newsletter.
        <br><br>
        The first email will be the same no matter when you subscribe, as will
        the second, as will the third
    </p>
        
  </div>
    <div class="container">
      <form action="/capsule_1">
        <h3> Capsule 1 </h3>
        <p> Some Description </p>
        <input type="submit" value="Subscribe to Capsule 1" class="btn" />
      </form>
    </div>
  </body>
</html>